body{
    font-family: arial,sans-serif;
    font-size:13px;
}
nav{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
} 
/* section{
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    padding: 25vh;
} */
.google-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-self:center;
}
#google-logo{
    max-width: 100%;
    height: auto;
    align-self: center;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.external-links{
    display: flex;
    flex-direction: row;
    width:100%;
}
ul{
    text-decoration: none;
}
li{
    display: inline;
}
#searchbox{
    width:25vw;
    align-self: center;
    height: 5vh;
    margin: 30px;
}
.search-crit-buttons
{
    align-self: center;
}
#searchbutton, #feelinglucky{
    border:none;
    min-width: 54px;
    height: 36px;
    border-radius: 2px;
    padding:10px;
    margin: 10px;
    text-align:center;
    vertical-align: auto;
}
.offered-in
{
    display:flex;
    flex-direction:row;
    align-self:center;
}
.nav-images-profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: -1%;
}
.nav-images-grid{
    /* background-image: url('https://img.icons8.com/material/452/thumbnails.png');
    background-repeat: no-repeat;
    background-size: 25px 25px; */
    width:25px;
    height:25px;
}
.nav-list{
    padding: 10px 0;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-list li{
    margin: 10px 10px;
}
